.accordion {
  color: #4d4c4c;
  border-radius: 11px;
  background: #fff;
  box-shadow: 0px 4px 11px 2px rgba(58, 58, 58, 0.11);
  width: 100%;
  max-width: 500px;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  border: none;
  display: flex;
  flex-direction: column;
  transition: all 0.4s;
  overflow: hidden;
}

.accordion-header {
  height: 83px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.accordion-content {
  padding: 0px 50px 15px;
}

.order-number {
  height: 31px;
  width: 31px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  transform: rotate(-90deg);
  transition: all 0.3s;
}

.expanded .arrow {
  transform: rotate(90deg);
}
