<div
  class="accordion"
  [ngClass]="{ expanded: expanded }"
  [@expandCollapse]="expanded ? 'expanded' : 'collapsed'"
>
  <div class="accordion-header" (click)="toggleAccordion()">
    <div class="header-content">
      <span *ngIf="orderNumber" class="order-number">{{ orderNumber }}</span>
      <!-- Content projection for the icon -->
      <ng-content select=".icon"></ng-content>
      <span class="title">{{ title }}</span>
    </div>
    <img class="arrow" src="assets/icons/arrow-left.svg" alt="edit-icon" />
  </div>
  <div class="accordion-content">
    <ng-content></ng-content>
    <!-- Content projection for the content -->
  </div>
</div>
