<div class="step">
  <img src="assets/icons/pregled-dokumenta.svg" alt="pregled-dokumenta" />
  Pregled dokumenta
</div>
<div class="divider" [ngClass]="{ disabled: currentDocumentStep < 2 }"></div>
<div class="step" [ngClass]="{ disabled: currentDocumentStep < 2 }">
  <!-- TODO: Add disabled images -->
  <img
    src="assets/icons/prihvatanje-dokumenta.svg"
    alt="prihvatanje-dokumenta"
  />
  Prihvatanje dokumenta
</div>
<div class="divider" [ngClass]="{ disabled: currentDocumentStep < 2 }"></div>
<div class="step" [ngClass]="{ disabled: currentDocumentStep < 2 }">
  <!-- TODO: Add disabled images -->
  <img
    src="assets/icons/potpisivanje-dokumenta.svg"
    alt="potpisivanje-dokumenta"
  />
  Potpisivanje dokumenta
</div>
