:host {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 33px;
  background: #fdfdfd;
  box-shadow: 2px 2px 9px 0px rgba(58, 58, 58, 0.11);
  padding: 10px;

  .divider {
    width: 75px;
    height: 3px;
    background-color: #ea600e;

    &.disabled {
      background-color: #e6e5e5;
    }
  }

  .step {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &.disabled {
      color: #cacaca;
      filter: grayscale(1);
    }

    .step-number {
      display: inline-block;
      background-color: #ea600e;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      border-radius: 50%;
      color: white;
      margin-right: 8px;
    }
  }

  @media screen and (max-width: 1024px) {
    .step {
      font-size: 12px !important;
    }
  }
}
