<div class="step">
  <img src="assets/icons/pregled-dokumenta.svg" alt="pregled-dokumenta" />
  Pregled dokumenta
</div>
<div class="divider disabled"></div>
<div
  [ngClass]="
    currentDocumentStep !== documentSteps.REVIEW ? 'step' : 'step disabled'
  "
>
  <img
    src="assets/icons/prihvatanje-dokumenta.svg"
    alt="prihvatanje-dokumenta"
  />
  Prihvatanje dokumenta
</div>
<div class="divider disabled"></div>
<div
  [ngClass]="
    currentDocumentStep === documentSteps.SIGNING ? 'step' : 'step disabled'
  "
>
  <img
    src="assets/icons/potpisivanje-dokumenta.svg"
    alt="potpisivanje-dokumenta"
  />
  Potpisivanje dokumenta
</div>
