<div class="pdf-wrapper">
  <div
    #pdfViewer
    class="pdf-viewer"
    appScrollTracker
    (scrolled)="onScroll($event)"
  >
    <pdf-viewer
      [src]="pdfSrc"
      [render-text]="true"
      [original-size]="false"
      [fit-to-page]="fit"
      (page-rendered)="pageRendered($event)"
    ></pdf-viewer>

    <button (click)="scrollToBottom()" type="button" class="scroll-to-bottom">
      <img src="/assets/icons/scroll-down-icon.svg" alt="scroll-down-icon" />
    </button>
  </div>
</div>

<div class="actions">
  <app-button
    color="secondary"
    [disabled]="actionsDisabled"
    (buttonClick)="onChange()"
  >
    <img src="assets/icons/arrow-left.svg" alt="arrow-left" />
    <span>Izmenite</span>
  </app-button>
  <app-button [disabled]="actionsDisabled" (buttonClick)="onAccept()">
    <span>Prihvatite</span>
    <img src="assets/icons/arrow-right.svg" alt="arrow-right" />
  </app-button>
</div>
