<app-side-nav-toolbar
  *ngIf="currentStep !== wizardStep.WAITING"
  [user]="user"
></app-side-nav-toolbar>

<app-advertisements-step
  *ngIf="currentStep === wizardStep.WAITING"
  [title]="waitingStepTitle"
></app-advertisements-step>

<main class="content">
  <app-progress-bar
    *ngIf="
      currentStep !== wizardStep.INITIAL && currentStep !== wizardStep.WAITING
    "
  ></app-progress-bar>

  <section class="steps">
    <app-initial-step
      [type]="iniitalStepType"
      (startProcess)="handleStartProcess()"
      *ngIf="currentStep === wizardStep.INITIAL"
    ></app-initial-step>

    <app-review-step
      *ngIf="currentStep === wizardStep.REVIEW && currentDocument"
      [id]="currentDocument.changesetID"
      [acceptButtonVisible]="currentDocument.acceptButtonVisible"
      [changeButtonVisible]="currentDocument.changeButtonVisible"
      (accepted)="accepted.emit($event)"
      (changeRequested)="changeRequested.emit($event)"
    ></app-review-step>

    <app-preview-sign-step
      *ngIf="currentStep === wizardStep.PREVIEW"
      (signatureRequested)="signatureRequested.emit()"
    ></app-preview-sign-step>

    <app-final-step
      *ngIf="currentStep === wizardStep.FINAL"
      [state]="finalProcesState"
      [title]="finalProcesTitle"
    ></app-final-step>
  </section>
</main>
