<div class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>{{ document.name }}</h2>
    </div>
    <div class="pdf-viewer">
      <pdf-viewer
        [src]="pdfSrc"
        [render-text]="true"
        [original-size]="false"
        [fit-to-page]="fit"
        style="display: block; min-height: 250px"
      >
        (page-rendered)="pageRendered($event)" ></pdf-viewer
      >
    </div>
    <div class="modal-footer">
      <app-button [color]="'primary'" (buttonClick)="onCloseModal()">
        Zatvori
      </app-button>
    </div>
  </div>
</div>
