.modal {
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.modal-header {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.button {
  background-color: #ea600e;
  border-radius: 50px;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 700px;
  width: 80%;
}

.pdf-viewer {
  height: 650px;
  overflow: auto;
}
