:host {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  border-radius: 13px;
  padding: 5px;
  gap: 10px;

  &.active {
    background-color: #f3f3f3;

    .name {
      color: #ea600e;
    }
  }

  &.initial > .name {
    color: #b3b3b3;
  }

  .name {
    color: #4d4c4c;
    font-size: 14px;
    line-height: normal;
    font-weight: 600;
  }
}
