<div class="background-image-wrapper"></div>
<div>
  <app-text-card [title]="title" [text]="text"></app-text-card>

  <div class="content">
    <div class="document-wrapper" *ngIf="documentsForSigning">
      <ul>
        <li *ngFor="let item of documentsForSigning">
          <app-document-view-item
            [documentTitle]="item.name"
            (openDocument)="onClick(item)"
          ></app-document-view-item>
        </li>
      </ul>
      <!-- <app-document-view-item
        *ngFor="let item of documentsForSigning"
        [documentTitle]="item.name"
        (openDocument)="onClick(item)"
      ></app-document-view-item> -->
    </div>
  </div>

  <img
    style="margin-bottom: 10px"
    src="assets/icons/consentId-icon.svg"
    alt="consentId-icon"
  />
  <app-button (buttonClick)="onAccept()">
    <span>Potpišite</span>
  </app-button>
</div>
<app-modal
  *ngIf="isModalOpen"
  [document]="document"
  (closeModal)="onCloseModal()"
></app-modal>
