<div class="background-image-wrapper"></div>

<app-text-card [title]="title" [text]="text"></app-text-card>

<div class="content">
  <div
    class="document-wrapper"
    *ngIf="documentsForSigning$ | async as documentsForSigning"
    [ngClass]="{ 'one-column-wrapper': documentsForSigning.length === 1 }"
  >
    <app-document-view-item
      *ngFor="let item of documentsForSigning"
      [name]="item.documentName"
      (openDocument)="openDocumentModal(item)"
    ></app-document-view-item>
  </div>
</div>

<div>
  <img
    width="134px"
    height="84px"
    style="margin-bottom: 10px"
    src="assets/icons/consentId-icon.svg"
    alt="consentId-icon"
  />
  <app-button (buttonClick)="onSignDocuments()">
    <span>Potpišite</span>
  </app-button>
</div>

<app-modal
  *ngIf="isModalOpen && document"
  [title]="document.documentName"
  [pdfSrc]="documentPdfSrc"
  (closeModal)="closeDocumentModal()"
></app-modal>
