<div class="background-image-wrapper"></div>
<div>
  <app-text-card [title]="title" [text]="text"></app-text-card>

  <div class="content">
    <div
      class="document-wrapper"
      *ngIf="documentsForSigning$ | async as documentsForSigning"
    >
      <ul>
        <li *ngFor="let item of documentsForSigning">
          <app-document-view-item
            [name]="item.documentName"
            (openDocument)="openDocumentModal(item)"
          ></app-document-view-item>
        </li>
      </ul>
    </div>
  </div>

  <img
    style="margin-bottom: 10px"
    src="assets/icons/consentId-icon.svg"
    alt="consentId-icon"
  />
  <app-button (buttonClick)="onSignDocuments()">
    <span>Potpišite</span>
  </app-button>
</div>
<app-modal
  *ngIf="isModalOpen && document"
  [document]="document"
  (closeModal)="closeDocumentModal()"
></app-modal>
