:host {
  width: 65%;
  // width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;

  .text-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .text-wrapper {
    display: flex;
    justify-content: center;
  }

  h1 {
    max-width: 600px;
    color: #ea600e;
    font-weight: 800;
  }

  p {
    max-width: 775px;
  }
}
