:host {
  width: 65%;
  // width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
  
  .text-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .text-wrapper {
    display: flex;
    justify-content: center;
  }

  h1 {
    max-width: 600px;
    color: #ea600e;
    font-weight: 700;
    font-size: 22px;
  }

  p {
    max-width: 775px;
    font-size: 14px;
  }
}
