<nav class="sidebar">
  <div class="logo-wrapper">
    <img src="assets/icons/logo.svg" />
  </div>

  <!-- TODO: Create an avatar component -->
  <div class="user-wrapper">
    <img src="assets/icons/avatar-female.svg" />
    <span>{{ user.fullname }}</span>
  </div>

  <div class="documents-list">
    <app-document-menu-list
      *ngIf="documentsForReview.length"
      title="Dokumenti za pregled"
      [documents]="documentsForReview"
    ></app-document-menu-list>

    <app-document-menu-list
      *ngIf="documentsToSigne.length"
      title="Dokumenti za potpisivanje"
      [documents]="documentsToSigne"
    ></app-document-menu-list>
  </div>
</nav>
