:host {
  overflow: auto;
  background-color: #ea600e;
  width: 250px;
  color: white;
  padding: 30px 0px;
}

nav.sidebar {
  display: flex;
  flex-direction: column;

  .logo-wrapper {
    padding: 0px 15px;
    margin-bottom: 30px;
  }

  .user-wrapper {
    background-color: #da5404;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    padding: 25px 15px;
    margin-bottom: 40px;
  }

  .documents-list {
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
