<nav class="sidebar">
  <div class="toggle-container">
    <button (click)="toggleSidebar()" type="button" class="toggle-btn">
      <img
        width="33px"
        [src]="
          collapsed
            ? 'assets/icons/expand-sidebar.svg'
            : 'assets/icons/collapse-sidebar.svg'
        "
        alt="collapse-sidebar"
      />
    </button>
  </div>

  <div *ngIf="!!user" class="user-wrapper">
    <app-avatar [fullName]="user.fullName"></app-avatar>
    <span class="name">{{ user.fullName }}</span>
  </div>

  <div class="documents-list">
    <ng-container *ngIf="documentsForReview$ | async as forReview">
      <app-document-menu-list
        *ngIf="!!forReview.length"
        title="Dokumenti za pregled"
        [documents]="forReview"
      ></app-document-menu-list>
    </ng-container>

    <ng-container *ngIf="documentsForSigning$ | async as forSigning">
      <app-document-menu-list
        *ngIf="forSigning.length"
        title="Dokumenti za potpisivanje"
        [documents]="forSigning"
      ></app-document-menu-list>
    </ng-container>
  </div>

  <div class="logo-container">
    <!-- TODO: Manage logo better -->
    <img
      *ngIf="!collapsed"
      class="logo"
      width="180px"
      src="assets/images/logo.png"
    />
    <img
      *ngIf="collapsed"
      class="logo-short"
      width="24px"
      src="assets/images/logo-short.png"
    />
  </div>
</nav>
