/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*,
*::after,
*::before {
  appearance: none;
  background: transparent;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: #4d4c4c;
  font-family: 'Open Sans', sans-serif;
  background-image: url('/assets/images/background-pattern.png');
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.ng2-pdf-viewer-container {
  height: auto !important;
  width: 100% !important;
}
